<%= stylesheet_link_tag '/stylesheets/home.css' %>

<div class="container">
	<div class="contenedor-opciones text-center">
		<%= link_to 'Crear Conferencia', url_for(:crear_conferencia, :crear_conferencia), id: "crear_conferencia", class: "btn btn-primary btn-lg btn-block" %>
	</div>
</div>