<div class="jumbotron">
  <div class="container">
    <h3 class="text-center"> Tabla de conferencias </h3>
    <table class="table table-striped" border="1">
      <tr>
        <th align="center">Nombre</th>
        <th align="center">Descripción</th>
        <th align="center">Fecha</th>
      </tr>
      <% @conferencias.each do | conferencia | %>
          <tr>
            <td align="center">
              <%= conferencia.titulo %>
            </td>
            <td align="center">
              <%= conferencia.descripcion%>
            </td>
            <td align="center">
              <%= conferencia.fecha%>
            </td>
          </tr>
      <% end %>
    </table>
    
    <br>
    
    <div class="text-center">
      <%= link_to "Volver", url(:home, :index), :class => "btn btn-large btn-info" %>
    </div>
  </div>
</div>
